<div class="p-3">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-room-tab" data-bs-toggle="tab" data-bs-target="#nav-room"
                type="button" role="tab" aria-controls="nav-room" aria-selected="true">Room
                Statistics</button>
            <button class="nav-link" id="nav-sentiment-tab" data-bs-toggle="tab" data-bs-target="#nav-sentiment"
                type="button" role="tab" aria-controls="nav-sentiment" aria-selected="true">Feedback Sentiment analysis
                Users</button>
        </div>
    </nav>
    <div class="tab-content pl-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-room" role="tabpanel" aria-labelledby="nav-room-tab">
            <iframe width="1200" height="800"
                src="https://datastudio.google.com/embed/reporting/fe84d3c4-5548-49a2-9a16-168ded748c85/page/49WyC"
                frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="tab-pane fade show" id="nav-sentiment" role="tabpanel" aria-labelledby="nav-sentiment-tab">
            <iframe width="1000" height="800" src="https://datastudio.google.com/embed/reporting/d8635514-3a63-446b-ad67-774f5b4109b5/page/50YyC" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>