<div class="row justify-content-center my-5">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <label for="email" class="form-label">Email:<span class="required">*</span></label>
            <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="username"
              class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="password" class="form-label">Password:<span class="required">*</span></label>
            <div class="input-group input-group-sm">
              <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password"
                [(ngModel)]="password" class="form-control form-control-sm">
              <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                <i class="bi"
                  [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="answer1" class="form-label">What is your nickname?</label>
            <input type="string" id="answer1" name="answer1" [(ngModel)]="answer1" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="answer2" class="form-label">What is your birth city?</label>
            <input type="string" id="answer2" name="answer2" [(ngModel)]="answer2" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="answer3" class="form-label">What is you mother's maiden name?</label>
            <input type="string" id="answer3" name="answer3" [(ngModel)]="answer3" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="key" class="form-label">Key</label>
            <input type="number" id="key" name="key" [(ngModel)]="key" class="form-control form-control-sm"
              placeholder="Please enter key between 2 to 9" min="2" max="9">
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="signUp()" class="btn btn-sm btn-success" [disabled]="loading">
              
              Sign up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>